.avatar {
  border-radius:3px
}

.navbar-white {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 70px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.navbar-child {
  color: #36B069;
}