.avatar {
  border-radius:3px
}

.navbar-white {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 70px;
  padding-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 7px 0px #00AA44;
  z-index: 10;
}

.navbar-child {
  color: #36B069;
}

.navbar-child:hover {
  color: #008030;
}