 
.intro {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding: 40px 15px;
}

.btn-emerald {
  height: 50px;
  width: 250px;
  font-family: 'Roboto';
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  background-color: #36B069;
}